body {
	padding: 58px 32px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #282828;
	color: #F5F5F5;
}

a {
	color: #00B7FF;
}

a:visited {
	color: #EEB7FF;
}

video {
	width: 100%;
}

.show-header {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0;
	background: #353535;
	border: 1px solid #444;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.show-header img {
	max-height: 50vh;
	max-width: 100%;
}

.show-header h1 {
	padding-left: 2%;
}

#login, #register, #close {
	display: none;
}

.diag {
	text-align: right;
	width: 80vw;
	max-width: 30rem;
	padding: .2rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1002;
	transition: top 0.3s ease;
	background: #353535;
	border: 1px solid #444;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.diag-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: none;
	transition: background 0.3s ease;
	z-index: 1001;
	pointer-events: none;
}

#close:checked+.diag {
	top: -100%
}

#close:not(:checked)+.diag+.diag-bg {
	background: rgba(0,0,0,0.6);
	pointer-events: auto;
}

#register+form, #login+form{
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
}

#register:checked+form, #login:checked+form {
	height: 100%
}

label[for=register], label[for=login], label[for=close]:not(.diag-bg){
	cursor: pointer
}

.diag form input {
	box-sizing: border-box;
	padding: 0 .2rem;
	width: 100%;
	border-radius: 3px;
	font-size: 1em;
	margin-top: .4rem;
	color: #ecf0f1;
	background: #444;
	border: #222 1px solid;
	height: 2.2rem
}

.diag form button {
	box-sizing: border-box;
	cursor: pointer;
	width: 100%;
	background: #006064;
	margin-top: .4rem;
	border-radius: 3px;
	border: #222 1px solid;
	color: #ecf0f1;
	height: 2.2rem;
}

.diag form button:hover {
	background:#00838f;
}

@keyframes hideflash {
	from 	{opacity:1}
	to	{opacity:0}
}

.diagflash {
	color: orangered;
	display: inline;
	position: absolute;
	left: 0;
	margin: 0;
	padding-left: .2rem;
	animation: .6s ease 3s hideflash forwards;
}

@keyframes hidepopup {
	0%	{top:0}
	10%	{top:57px}
	80%	{top:57px}
	100%	{top:0}
}

.popup {
	height: 2rem;
	position: fixed;
	text-align: center;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	animation: 5s ease hidepopup forwards;
	width: 80vw;
	max-width: 30rem;
	padding: .2rem;
	z-index: 999;
	background: #008e28;
	border: 1px solid #00f144;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	opacity: .8;
}

.popup p {
	margin-top: .5rem;
}

#logout-form {
	display: none;
}
