body {
	padding: 58px 32px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #282828;
	color: #F5F5F5;
}

a {
	color: #00B7FF;
}

a:visited {
	color: #EEB7FF;
}

video {
	width:100%;
}

.show-header {
	display:flex;
	flex-wrap: wrap;
	margin: 1rem 0;
	background: #353535;
	border: 1px solid #444;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-header img {
	max-height: 50vh;
	max-width: 100%;
}
.show-header h1 {
	padding-left: 2%;
}
#login, #register, #close {
	display:none;
}
.diag {
	padding:.2rem;
	position:fixed;
	top:30vh;
	left:0;
	right:0;
	z-index:1002;
	margin:2rem;
	transition: top 0.6s ease;
	background: #353535;
	border: 1px solid #444;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.diag-bg {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,.6);
	opacity:0;
	transition: opacity 0.6s ease;
	z-index:-9999;
}
#close:checked+.diag {
	top:-100%
}
#close:not(:checked)+.diag+.diag-bg {
	opacity:1;
	z-index:1001;
}
#register+form, #login+form{
	height:0;
	overflow:hidden;
	transition:height 0.6s ease;
}
#register:checked+form, #login:checked+form {
	height:100%
}
label[for=register], label[for=login], label[for=close]:not(.diag-bg){
	cursor: pointer
}
[name=uname], [name=passwd] {
	margin-right: -2px;
	width:calc(100% - 2px);
	border-radius: 3px;
	font-size: 1em;
	margin-top: .4rem;
	color: #ecf0f1;
	background: #444;
	border: #222 1px solid;
	height: 2rem
}
[name=passwd]+button {
	width:100%;
	background: #006064;
	margin-top: .4rem;
	border-radius: 3px;
	border: #222 1px solid;
	color: #ecf0f1;
	height: 2rem;
}
[name=passwd]+button:hover {
	background: #00838f;
}
