<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>{{title}}</title>
		<link rel='stylesheet', href='/stylesheets/style.css'>
		<link rel='stylesheet', href='/stylesheets/luxbar.css'>
	</head>
	<body>
		<div>
			<input type=radio id=login name=diag>
			<input type=radio id=close name=diag checked>
			<div class=diag>
				<label for=close>X</label>
				TEST
				<input type=radio id=register name=diag>
				<p>register</p>
			</div>
			<label for=close class=diag-bg></label>
		</div>
		<header id="luxbar" class="luxbar-fixed">
			<input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
			<div class="luxbar-menu luxbar-menu-right luxbar-menu-material-cyan">
				<ul class="luxbar-navigation">
					<li class="luxbar-header">
						<a href="/about" class="luxbar-brand">CRUCIBLE</a>
						<label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
					</li>
					{% for x in navitems %}
						{% if not x.active %}
							<li class="luxbar-item"><a href="{{x.href}}">{{x.name}}</a></li>
						{% else %}
							<li class="luxbar-item active"><a href="{{x.href}}">{{x.name}}</a></li>
						{% endif %}
					{% endfor %}
					{% if not user %}
						<li class="luxbar-item dropdown luxbar-user">
							<label for=login>Login</label>
							<ul>
								<li class="luxbar-item"><label for=register>Register</label></li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
