{%set diag%}{%for x in flash%}{%if x.type=="diag"%}1{%endif%}{%endfor%}{%endset%}
<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#006064">
		<meta name="viewport" content="width=device-width" />
		<title>{{title|title}}</title>
		<link rel="stylesheet", href="/stylesheets/style.css">
		<link rel="stylesheet", href="/stylesheets/luxbar.css">
	</head>
	<body>
		{% for x in navitems %}
			<form action="/redir" method="post">
				<input type="hidden" name="redir" value="{{x.href}}">
				<button type="submit" id="{{x.href}}">{{x.name}}</button>
			</form>
		{% endfor %}
		{%- for x in flash -%}
			{%- if x.type=="success" -%}
				<div class=popup><p>
					{{-x.message-}}
				<p></div>
			{%- endif -%}
		{%- endfor -%}
		<div>
			<input type="radio" id="close" name="diag"
				{% if not diag|trim|length %}
					checked
				{% endif %}
			>
			<div class="diag
				{% for x in flash %}
					{% if x.type=="closediag" %}
						{% if x.message=="login" %}
							diag-startopen-login
						{% elif x.message=="register" %}
							diag-startopen-register
						{% endif %}
					{% endif %}
				{% endfor %}
			">
				<p class="diagflash">
					{%- for x in flash -%}
						{%- if x.type=="info" -%}
							{{x.message}}
						{%- endif -%}
					{%- endfor -%}
				</p>
				<label for="close">X</label>
				<input type="radio" id="login" name="diag"
					{%for x in flash%}
						{%if x.type=="diag" and x.message=="login"%}
							checked
						{%endif%}
					{%endfor%}
				>
				<form action="/login" method="post">
					<input type="text" placeholder="Username" name="uname" maxlength="24" required>
					<input type="password" placeholder="Password" name="passwd" maxlength"96" required>
					<input type="hidden" name="redir" value="{{page}}">
					<button type="submit">Login</button>
				</form>
				<input type="radio" id="register" name="diag"
					{%for x in flash%}
						{%if x.type=="diag" and x.message=="register"%}
							checked
						{%endif%}
					{%endfor%}
				>
				<form action="/register" method="post">
					<input type="text" placeholder="Username" name="uname" maxlength="24" required>
					<input type="text" placeholder="Display name (optional)" name="dname" maxlength="96">
					<input type="password" placeholder="Password" name="passwd" required>
					<input type="hidden" name="redir" value="{{page}}">
					<button type="submit">Register</button>
				</form>
			</div>
			<label for="close" class="diag-bg
				{% for x in flas %}
					{% if x.type == "closediag" %}
						diag-bg-startopen
					{% endif %}
				{% endfor %}
			"></label>
		</div>
		<form action="/login/out" method="post" id=logout-form>
			<input type="hidden" name="redir" value="{{page}}">
			<button type="submit" id=logout-btn>logout</button>
		</form>
		<header id="luxbar" class="luxbar-fixed">
			<input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
			<div class="luxbar-menu luxbar-menu-right luxbar-menu-material-cyan
				{% for x in flash %}
					{% if x.type == "menu" %}
						luxbar-startopen
					{% endif %}
				{% endfor %}
			">
				<ul class="luxbar-navigation">
					<li class="luxbar-header">
						<a href="/about" class="luxbar-brand">CRUCIBLE</a>
						<label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
					</li>
					{% for x in navitems %}
						{% if not x.active %}
							<li class="luxbar-item"><label for="{{x.href}}">{{x.name}}</label></li>
						{% else %}
							<li class="luxbar-item active"><label for="{{x.href}}">{{x.name}}</label></li>
						{% endif %}
					{% endfor %}
					{% if not user %}
						<li class="luxbar-item dropdown luxbar-user">
							<label for=login>Login</label>
							<ul>
								<li class="luxbar-item"><label for=register>Register</label></li>
							</ul>
						</li>
					{% else %}
						<li class="luxbar-item dropdown luxbar-user">
							<a href=#>{{user.nick}}</a>
							<ul>
								<li class="luxbar-item"><label for=logout-btn>Logout</label></li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
